/*helper*/
.pull-right{float: right}
.pull-left{float: left}

.text-left{text-align: left}
.text-center{text-align: center;}
.text-right{text-align: right}

.clear-fix{clear: both;}

/*表单*/
.form dd{padding: 12px 0px 0px 0px}
.form textarea{width: 100%}
.form .form-label{padding:10px 0px;display: inline-block;margin-right: 10px;width: 60px;text-align: right;font-size: 15px}
.form .input{border: 1px #dddddd solid;padding: 5px 0px 5px 0px;width: 170px}
.form select.input{width: 172px;}
.form textarea.input{width: 400px;}

/*摘要*/
.summary{background: #efefef;}
.note{background: #F0EED6;padding: 20px;line-height: 25px}

/*链接*/
a{text-decoration: none;color: rgb(45, 99, 169)}
a:hover{color: orange}

/*头像*/
.avatar{width: 50px;height: 50px;}

/*tab*/
.tab li{display: inline-block;margin:5px 20px 10px 20px;padding-bottom: 15px;background: rgb(235, 236, 234);padding:5px;border-radius: 8px}
.tab li:hover{}

/*国家颜色*/
.country-china{color: red}

/*按钮样式*/
.btn{cursor:pointer;background: none;border: 0px;padding: 5px 15px 5px 15px;color: white;border-radius:3px}
.btn:hover{opacity: 0.8}
.btn-save{background: #049CDB;}
.btn-cancel{background: #EE5F5B}


/*画笔*/
.pencil{display: inline-block;width: 40px;height: 40px;}
.tool-active{border: 2px yellow solid}
.pencil-red{background: red}
.pencil-yellow{background: yellow}
.pencil-green{background: green}
.pencil-orange{background: orange}
.pencil-blue{background: blue}
.pencil-silver{background: silver}
.pencil-empty{}


/*字体颜色*/
.font-note{font-size: 12px;color: rgb(115, 115, 115)}


/*画笔标签*/
.mark{padding: 2px;color: black;cursor: pointer;}
.mark-1{background: #FF9999;}
.mark-2{background: #CC9966;}
.mark-3{background: #FFCC99;}
.mark-4{background: #FF6633}
.mark-5{background: #FF99CC}
.mark-6{background: #CCCCFF}
.mark-empty{background: gray;}
.mark:hover,.mark-focus{border:3px orange solid;border-style: none none solid none}

/*标签*/
.tag{line-height: 35px;}

/*阅读模式*/
body{font-family: 微软雅黑;font-size: 13px;color: #2F2F2F;margin: 0px;}
.day{background: white}
.night{}

/*框架*/
.frame-main{float: left;width: 700px;margin-top: 10px;}
.frame-side{float: right;width: 280px;margin-top: 10px;}

/*媒体头像*/
.media-logo{height: 25px;}

/*栏目头部*/
.column-header{padding: 10px 10px 10px 0px;font-size: 16px;clear: both}


/*top*/
header{background: #2F2F2F;color: white;font: 13px;padding: 15px}
header a{color: white}
header nav{display: inline-block;}
header li{display: inline-block;margin-right: 25px;}

#account{position: relative;cursor: pointer;}
#account .menu:hover{opacity: 0.7}
#account .wrapper{padding-top:28px;position: absolute;left: -20px;top: 0px;width: 73px;text-align: center;}
#account .wrapper ul{background: #2F2F2F;display: none;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
#account .wrapper li{padding: 10px 0px 10px 0px;width: 100%}

/*文章列表*/
.article-list{}
.article-list a{color: #3377AA}
.article-list li{float: left;padding: 10px 0px 10px 0px;border-bottom:1px #efefef solid;margin-bottom: 10px}
.article-list aside{line-height: 17px;text-align: center;width: 130px;}
.article-list aside img{width: 85px;}
.article-list .info{width: 550px;padding-left: 20px;font-size: 12px;position: relative;}
.article-list .info p{padding: 5px 0px}
.article-list .info .title{font-size: 14px}
.article-list .info .summary{line-height: 18px;padding-top: 4px;}
.article-list .info .time{color: #BBBBBB}
.article-list .info .media-logo{position: absolute;right: 0px;bottom: 0px;}


/*我的上传文章*/
#upload-list li{line-height: 25px;padding: 0px 10px 10px 0px;margin-bottom:10px;border-bottom: 1px #dddddd solid;position: relative;}
#upload-list li .title{font-size: 15px;}
#upload-list span,#upload-list .op a{margin-right: 10px;}
#upload-list .op{position: absolute;right: 0px;top: 10px;display: none}
#upload-list li:hover .op{display: block}
#upload-list .note{background: #efefef;padding: 10px;}

/*修改个人信息*/
#editUserBox{position: relative;}
#avatarBox{padding:5px;text-align: center;position: absolute;right: 100px;top: 0px;width: 130px;height: 165px;border: 1px #dddddd solid}

#picture{height: 144px;margin-bottom:6px;background:#dddddd;}
#picture img{width: 100%;height: 100%}

/*笔记详情页*/
#detailNoteSumary{padding: 20px;}

/*文章主体*/
.content-wrapper{}
.content-wrapper article{margin: 25px auto}
.content-wrapper article .title{font-size: 50px;font-weight: 700;margin:0px 0px 25px 0px;}
.content-wrapper .content{font-size: 17px;color: #2f2f2f;font-weight:100;text-indent: 35px;}
 
 /*笔记评论*/
#noteComments li{border-bottom: 1px #dddddd solid;padding: 10px 0px 10px 0px}
#noteComments aside{float: left;width: 50px;text-align: center;}
#noteComments aside img{margin-bottom: 5px;}
#noteComments .content{float: left;width: 600px;padding: 10px 20px 0px 20px;font-size: 14px;}
#noteComments .content .text{margin-bottom: 10px;}


 /*工具栏*/
.tool-bar{position: fixed;bottom: 0px;left: 0px;padding: 10px 0px 10px 0px;background: rgba(0,0,0,0.7);width: 100%;text-align: center;color: white}
.tool-bar li{display: inline-block;margin-right: 25px;cursor: pointer;vertical-align: middle;line-height: 15px;}
.tool-bar li:hover{opacity: 0.7;}
.tool-bar img{width: 40px;}

/*遮罩*/
.mask{width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: fixed;left: 0px;top: 0px;cursor: pointer;z-index: 1;display: none}

/*窗口*/
.window{width: 100%;position: fixed;left: 0px;top: 0px;z-index: 2;margin-top: 50px;display: none}
.window .window-center{background: #F0EED6;border-radius: 3px;padding: 15px 15px 0px 15px;}

 /*笔记层*/
 .note-dlg{position: absolute;width: 170px;right: 400px;top: 0px;background: gray;color: black;display: none}
 .note-dlg  textarea.note{width: 95%;}

/*.note-mask .screen-center{height: 100%}*/
#note-window{}
#note-window aside{line-height: 20px;background: #efefef;padding: 15px;}
#note-window aside .scroll-box{max-height: 55px;overflow: auto}
#note-window .note{width: 97%;line-height: 17px;padding: 0px 10px 0px 10px}
#note-window h2{margin: 15px 0px;font-size: 20px;}
#note-window dd{padding-bottom: 15px;}
#note-window dd input{vertical-align: -2px}


/*打开笔记*/
#openNote{border-left: 1px #efefef solid;padding-left: 20px;}

/*分类列表*/
#categorys li{display: inline-block;margin-right: 20px;padding: 5px;padding: 6px;}
#categorys .cate-wrapper{padding: 10px;background: #efefef;border-radius: 3px;}
#categorys .cate-wrapper li{cursor: pointer;}
#categorys .cate-wrapper li:hover{color: #E78170}
#categorys .main-cate{margin:5px 0px 5px 0px;}
#categorys .main-cate li{background: #E78170;border-radius: 8px;color: white;}


 /*屏幕大小*/
.screen-center{margin: 0px auto}
.screen .screen-center{width: 960px;}

/*side的图片*/
.side-banner{width: 100%;height:100px;}

/*用户信息*/
#userInfo{padding: 10px;background: #efefef;float: left}
#userInfo aside{float: left;text-align: center;width: 100px;padding-top: 18px}
#userInfo .user-detail{float: left;width: 570px;}
#userInfo li{padding: 14px 0px;}
#userInfo span{margin: 0px 6px 0px 6px}
#userInfo .country{margin-left: 0px;}
#userInfo .name{color: rgb(229, 111, 38);font-size: 25px}
#userInfo .sex-male{color: gray;font-size: 18px;}
#userInfo .sex-female{color: orange;font-size: 18px;}
#userInfo .font-note{line-height: 18px}
#userInfo .join-time{color: rgb(166, 140, 140);font-size: 14px;}


/*用户菜单*/
#userFrame{float: left;margin-top: 15px;}
#userFrame .user-menu{float: left;width: 110px;text-align: left;padding-top: 8px;margin-right: 20px;}
#userFrame .user-menu dt,#userFrame .user-menu dd{padding: 10px 10px 10px 27px;border-right: 2px #dddddd solid}
#userFrame .user-menu dt{font-weight: bold}
#userFrame .user-menu  dd.active{border: 2px #dddddd solid;border-style:solid none solid solid;}
#userFrame .user-menu  dd.active a{color: orange}
#userFrame .user-body{float: left;width: 560px;}

/*修改用户信息-表单*/
#userInfoWrapper{display: inline-block;margin-top: 10px;}


 @media(max-width: 400px){
 	#note-window{margin-top: 0px}
 	#note-window,#note-window .screen-center,#note-window .window-center{height: 100%}
 }

  @media(max-width: 600px){
  	.screen .screen-center{width: 100%;}

 	/*main*/
 	.frame-main{width: 100%;}
 	.frame-side{display: none}

 }